
.App {
  text-align: center;
}

h1 {
  color: black;
}

#card {
  margin: 25px;
  height: auto;
  max-width: 250px;
  display: inline-block;
}

.App-header {
  background-color: white;
  max-height: 200px;
  padding: 5px;
  color: white;
  text-align: center;
  padding: 1px;
  margin-top: 0px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

div {
  border: 15px;
  color: black;
}

a {
  color: black;
 
}

#paperDiv {
   height: auto;
   max-width: 450px;
   margin-top: 10px;
}

.padding {
  padding: 15px;
}

.backgroundColor {
  background-color: #222;
}

pre {
  text-align: center;
}






