
.App {
  text-align: center;
}

h1 {
  color: white;
}

#card {
  margin: 25px;
  height: auto;
  min-width: 350px;
}

.App-header {
  background-color: black;
  max-height: 200px;
  padding: 5px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

div {
  margin-bottom: 10px;
  border: 15px;
  color: black;
}



