
.App {
  text-align: center;
}

h1 {
  color: white;
}

#card {
  margin: 25px;
  height: 300px;
  min-width: 300px;
  display: inline-block;
}

.App-header {
  background-color: black;
  max-height: 200px;
  padding: 5px;
  color: white;
  text-align: center;
  padding: 1px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

div {
  border: 15px;
  color: black;
}

a {
  color: white;
}






